body {
	font-size: 1rem;
}

.nav-link {
    min-width: 100%;
}
 .nav-line {
     width: 100%;
     background: #007bff;
     min-height: 5px;
}
 .container-fluid {
    background: white;
}
 .link {
    text-decoration: underline;
}
 .carousel-inner img {
     width: 100%;
     height: 250px;
}
 .carousel_slider {
     padding: 0;
     max-width: 100%;
}
 .map {
     margin-top: 10px;
     height: 50vh;
     width: 100%;
     pointer-events:none;
     padding: 10px;
}
 .footer-list {
     font-size: 20px;
     color: white;
}
 .footer-list > li > a:link {
     color: white;
}
 .footer-list > li > a:visited {
     color: white;
}
 .footer-list > li > a:hover {
     color: white;
}
 .footer-text-frame {
     margin-top: 20px;
     width: 100%;
     background: #569ae2;
     color: white;
     font-size: 16px;
     text-align: center;
}
 .footer-line {
     margin-bottom: 20px;
     margin-top: 20px;
     width: 100%;
     background:white;
     min-height: 5px;
}
 .footer-frame {
     background: #3273ba;
     height: auto;
     width:100%;
}
 .footer-contact-text {
     text-align: left;
     color: white;
     font-size: 16px;
}
 .bottom-align-text {
     position: absolute;
     bottom: 0;
     left: 0;
}
 .thumbnail {
     position: relative;
     padding: 0px;
     margin-bottom: 20px;
}
 .thumbnail img {
     width: 100%;
}
 .zero {
     margin:0 ;
     padding: 0 
}

 .width_100 {
     width: 100%;
}
 .max_width_100{
     max-width: 100%;
}
 .max_height_50vh {
     max-height: 50vh;
}
 .bestseller {
     margin-top: 20px;
     width: 100%;
     background: #007bff;
     color: white;
     font-size: 16px;
     text-align: center 
}
 
 .top100 {
	 margin-top: 100px;
 }
 
 .top35 {
     margin-top: 35px;
}
 .top20 {
     margin-top: 20px;
}
 .top10 {
     margin-top: 10px;
}
 .top5 {
     margin-top: 5px;
}

 .bottom30{
     margin-bottom: 30px;
}

 .bottom20{
     margin-bottom: 20px;
}

 .bottom100{
     margin-bottom: 100px;
}
 .left15 {
     margin-left: 15px;
}
 .author_text {
     color: white;
     font-weight: bold;
}
 .ul_list_none {
     list-style: none;
}
 .content {
     background: white;
     margin-top: 25px;
}
 /*
 .float-right{
	 float: right;
 }
 */
 /*
 
 LOGIN AND REGISTER 
 
 */
 
 
 .login-text {
	 
	 color: #007bff;
	 font-size: 26px;
 }
 
 
  .register-text {
	 color: #007bff;
	 font-size: 26px;
 }
 
 

 .register-line{
	 
	margin-right: 40px;
	border-right: 2px solid #007bff;
    height: 95%;
	
	@when (register-line(register-line) < 10%) {
		visibility: none;
	}
 }
 
 .border-login-register{
	 border: 2px solid #007bff;
 }
 